body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #1a1f36, #2b1055);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgba(255, 255, 255, 0.08);
    padding: 35px;
    border-radius: 16px;
    width: 420px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    backdrop-filter: blur(12px);
}

label {
    display: block;
    margin-bottom: 6px;
    color: #e0c97f;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 18px;
}

button {
    width: 100%;
    background: linear-gradient(90deg, #d4af37, #ffdf6c);
    color: #1a1f36;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
