body {
    background: radial-gradient(circle, #2b1055, #1a1f36);
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
    padding-top: 120px;
}

h3 {
    font-size: 32px;
    color: #f5d76e;
}

a {
    display: inline-block;
    margin: 20px;
    padding: 14px 30px;
    text-decoration: none;
    background: linear-gradient(135deg, #7f00ff, #e100ff);
    color: white;
    border-radius: 30px;
    font-weight: bold;
}

a:hover {
    box-shadow: 0 10px 25px rgba(225,0,255,0.5);
}
