body {
    background: #12172b;
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding: 40px;
}

table {
    width: 100%;
    background: rgba(255,255,255,0.05);
    border-collapse: collapse;
    border-radius: 14px;
    overflow: hidden;
}

th {
    background: #2b1055;
    padding: 15px;
    color: #f5d76e;
}

td {
    padding: 14px;
    text-align: center;
}

img {
    width: 90px;
    border-radius: 10px;
}

h2 {
    color: #f5d76e;
    margin-top: 20px;
}

input[type="submit"] {
    background: linear-gradient(90deg, #f7971e, #ffd200);
    border: none;
    padding: 14px 35px;
    border-radius: 25px;
    font-weight: bold;
}
