body {
    background: #1b1f3b;
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 30px;
}

table {
    width: 100%;
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
}

th {
    background: #3a0ca3;
    padding: 15px;
}

td {
    padding: 14px;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 12px;
}

a {
    color: #ffd166;
    font-weight: bold;
}
